@use "./variables.scss" as *;
// put your custom CSS here!

.forced-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.25rem;
  top: 0;
  box-sizing: border-box;
  padding: 0;
  position: initial;
  & .map,
  .darkmode,
  .minibutton {
    margin: 0.4rem;
  }
}

.forced-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  box-sizing: border-box;
  padding: 0;
  position: initial;
  & .map,
  .darkmode {
    margin: 0.4rem;
  }
}
